.nav-topbar {
  height: 39px;
  line-height: 39px;
  background-color: #333;
  color: #b0b0b0;
  width: 100%;
}
.nav-topbar .container {
  position: relative;
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-topbar .container .topbar-menu a {
  display: inline-block;
  color: #b0b0b0;
  margin-right: 17px;
}
.nav-topbar .container .topbar-menu a:hover {
  color: #f60;
}
.nav-topbar .container .topbar-user a {
  display: inline-block;
  color: #b0b0b0;
  margin-right: 17px;
}
.nav-topbar .container .topbar-user .my-cart {
  width: 110px;
  background-color: #f60;
  text-align: center;
  color: #fff;
  margin-right: 0;
}
.nav-topbar .container .topbar-user .my-cart .icon-cart {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 4px;
}
